
.imagesContainer { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    width: 400px;
    height: 600px;
    gap: 0px 40px;

  }

  .images {
    width: 100px;
    height: 100px;
    image-rendering: optimizeQuality;
    object-fit: contain;
  }

  .frontImg {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    align-self: center;
    justify-content: center;
  }
  
  