.container {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerContainer{

    width: 100%;
    margin-bottom: 50px;
    padding-left: 50px;
 
    display: flex;
    justify-content: space-around;
}

.headerContainer h2{
    font-size: 42px;
    color: black;
}

.headerContainer p{
    width: 100%;
    font-size: 18px;
    color:  rgb(159, 159, 159);
    text-indent: 50px;
    margin-top: -30px;
}


.iconsContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.iconsContainer img{
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 20px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 626px;
    height: 640px;
    align-items: center;
    gap: 32px;
    padding: 0px 20px;
    margin-bottom: 20px;
justify-content: space-around;
    -webkit-box-shadow: 0px 14px 20px 4px rgba(0, 0, 0, 0.809);
    -moz-box-shadow: 0px 14px 20px 4px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 14px 20px 4px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    background-color: rgb(130, 132, 181) ;
}

.formContainer label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Jost Variable', sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    color: black;
}

.input {
    height: 25px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 8px;
    font-family: 'Jost Variable', sans-serif;
    font-size: 16px;
}

.input:hover{
    border: none;
    position: sticky;
    height: 50px;
    transition: all 0.2s ease-in;
}

input::selection{
    height: 50px;
    border: none;
}
.textarea {
    height: 162px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 8px;
    font-family: 'Jost Variable', sans-serif;
    font-size: 16px;
}

.formContainer button {
    width: 100%;
    height: 62px;
    background-color: black;
    color: aliceblue;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    font-size: medium;
}