.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.headerContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 50px;
  padding-left: 50px;
}

.headerContainer h2 {
  font-size: 42px;
  color: black;
}

.headerContainer p {
  width: 100%;
  font-size: 18px;
  color: rgb(159, 159, 159);
  text-indent: 50px;
  margin-top: -30px;
}

.iconsContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.iconsContainer img {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 30px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 540px;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 20px;
  margin: 50px;
  -webkit-box-shadow: 0px 14px 20px 4px rgba(0, 0, 0, 0.809);
  -moz-box-shadow: 0px 14px 20px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 14px 20px 4px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  background-color: rgb(130, 132, 181);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  font-family: "Jost Variable", sans-serif;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  height: 70px;
  color: black;
}
.inputContainer label {
  display: flex;
  flex-direction: column;
  font-family: "Jost Variable", sans-serif;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  height: 65px;
  color: black;
  margin: 5px;
}

.input {
  height: 25px;
  border-radius: 8px;
  font-family: "Jost Variable", sans-serif;
  font-size: 16px;
  transition: height 0.2s ease-in;
  border: none;
}

.input:hover {
  height: 40px;
  border: none;
}

.input::selection {
  height: 40px;
  border: none;
  background-color: rgb(35, 35, 35);
  color: aliceblue;
}

.input:hover::before {
  height: 50px;
}
.textareaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  font-family: "Jost Variable", sans-serif;
  font-size: 16px;
}

.textareaContainer label {
  display: flex;
  flex-direction: column;
  font-family: "Jost Variable", sans-serif;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  height: 100%;
  color: black;
  margin: 5px;
}
.textareaContainer textarea {
  height: 100px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 8px;
  font-family: "Jost Variable", sans-serif;
  font-size: 16px;
  transition: height 0.2s ease-in;
}

textarea:hover {
  height: 160px;
}
.formContainer button {
  width: 100%;
  height: 62px;
  background-color: black;
  color: aliceblue;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  font-size: medium;
  cursor: pointer;
}
